body{
    margin: 0;
    background-image: url(../images/impostor.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}


#container{
    width: 100vw;
    height: 100vh;
}
.um{
    color:rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    
}

.dois{
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 60px;
    margin-top: 100px;

}


#bt1{
    margin-left: 170px;
    font-size: 25px;
    margin-bottom: 30;


}
#bt2{
    margin-left: 100px;
    font-size: 25px;
    margin-bottom: 30;
}

#bt1,#bt2{
    border-radius:20px;
}
.letra{
    margin-bottom: 500px;
}